<% include partials/header %>


<section id="gallery" class="section section-gallery scrollspy">
    <div class="container">
        <h4 class="center page-header">
            <span class="span-header">Photo </span> Gallery
        </h4>
		<br>
		<br>
        <div class="row">
            <% images.forEach(function(image){ %>
            <div class="col s6 m3" style="margin: 10px 0">
                <img class="materialboxed responsive-img" src="<%= image.img1 %>" alt="">
				<% if(currentUser){ %>
				<form style="display: inline" class="pull-right" action="/gallery/<%=image._id%>?_method=DELETE" method="POST">
					<button class="btn btn-custom">DELETE</button>
				</form>
				<% } %> 
            </div>
			<% }); %>
		</div>
    </div>
</section>


<% include partials/footer %>