<% include partials/header %>

<!-- Section: Slider -->
<section class="slider">
    <ul class="slides">
        <li>
            <img src="https://i.ibb.co/0szN8nC/CamelOwl.png" alt="">
            <div class="caption center-align">
                <h2>Original Art by <span class="span-header">M</span>ike <span class="span-header">V</span>eeser</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">Stretched Canvas and Skateboard Decks</h5>
                <a href="/items/page/<%= 1 %>" class="btn btn-custom">Online Shop</a>
            </div>
        </li>
        <li>
            <img src="https://i.ibb.co/X4hs9pV/board-Line.png" alt="">
            <div class="caption left-align">
                <h2>
					<span class="span-header">M</span>ike <span class="span-header">V</span>eeser <span class="span-header">A</span>rt</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">"A broken clock is right twice a day. Hopefully it's five o'clock somewhere."</h5>
                <a href="/gallery" class="btn btn-custom">Browse Gallery</a>
            </div>
        </li>
        <li>
            <img src="https://i.ibb.co/FXPMbRn/spider-Bison.png" alt="">
            <div class="caption right-align">
                <h2><span class="span-header">MVA</span></h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">Contact Mike about any business inquiries.</h5>
                <a href="/contacts/new" class="btn btn-custom">Get In Touch</a>
            </div>
        </li>
    </ul>
</section>



<!-- Section: Icon Boxes -->
<section class="section section-icons center">
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <a href="/items/page/<%= 1 %>" class="">
                    <div class="card-panel icon-box" id="store-link">
                        <i class="material-icons large">store</i>
                        <h4>Shop Here</h4>
                        <p>Take a look at all original artwork up for sale in the online art shop.</p>
                    </div>
                </a>
            </div>
            <div class="col s12 m4">
                <a href="/gallery" class="">
                    <div class="card-panel icon-box" id="gallery-link">
                        <i class="material-icons large">photo_album</i>
                        <h4>Look Here</h4>
                        <p>Just want to take a look? Here is where you can browse more artwork.</p>
                    </div>
                </a>
            </div>
            <div class="col s12 m4">
                <a href="/contact" class="">
                    <div class="card-panel icon-box" id="contact-link">
                        <i class="material-icons large">contact_mail</i>
                        <h4>Contact Here</h4>
                        <p>Contact Mike and let him know what you think of his work!</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>